name: Build Android APK

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # استفاده از جاوا 11 (چون فلاتر 3.10 قدیمی است و با جاوا 17 مشکل دارد)
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '11'

    # نسخه دقیق مورد نیاز پروژه شما
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.10.4'
        channel: 'stable'

    - name: Install Android SDK
      uses: android-actions/setup-android@v3

    # تایید لایسنس‌ها (حیاتی)
    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses

    - name: Flutter Clean
      run: flutter clean

    - name: Get Dependencies
      run: flutter pub get

    # ساخت نسخه Release (بدون --no-tree-shake-icons چون در نسخه قدیمی لازم نیست)
    - name: Build APK
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: build/app/outputs/flutter-apk/app-release.apk
