name: Build Android APK

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '21' # استفاده از جاوا 21 برای SDK 36

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Accept Android Licenses
      run: yes | flutter doctor --android-licenses

    - name: Get Dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release --no-tree-shake-icons

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: build/app/outputs/flutter-apk/app-release.apk
